.bg-Sarah {
    background-image: src("../image_assets/IMG-0076.JPG");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}